@{
    ViewData["Title"] = "Заблоковано";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Цей акаунт був заблокований, будь-ласка спробуйте пізніше</p>
</header>
